---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import Comment from '@/components/Comment.astro'
import '@fontsource/lxgw-wenkai';
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="关于我" />
  <Breadcrumbs items={[{ label: '关于我', icon: 'lucide:info' }]} />

  <section>
    <article class="prose col-start-2 max-w-none">
      <div class="min-w-full">
        <div class="prose mb-8">
          <p class="mt-0">
            氦，我是 Frederick。一个不知名 OIer，Bug
            端工程师，ENFJ-A。现居重庆，这里是我的博客，如果你想了解更多关于我的信息，请访问我的
            <Link href="https://github.com/fenychn0206" external underline
              >GitHub</Link
            >。
          </p>
          <p>
            文笔不好不要喷，因为你说得对，但是原神是米哈游开发的开放世界
            RPG。（逃
          </p>
        </div>
        <h2>技术栈</h2>
        <ul>
          <li>C++：我不想说什么，算法竞赛用的，会基础语法和 STL 标准库</li>
          <li>HTML / Javascript / Typescript</li>
          <li>Tailwind CSS：因为 CSS 写得烂，所以用它来代替写 CSS</li>
          <li>Astro</li>
          <li>Unix / Linux 系统：在研究 Arch</li>
          <li>Docker：学习中</li>
        </ul>
        <h2>贡献于</h2>
        <p>
          <a href="https://github.com/EvanNotFound/hexo-theme-redefine"
            ><strong>EvanNotFound/hexo-theme-redefine</strong></a
          >：虽然是 Commit 排名第二的 Commiter，但是都是改的一些细枝末节的东西。
        </p><p>
          <a href="https://github.com/doocs"><strong>Doocs</strong></a
          >：一个开源社区，我就不用多说了，就是加进去水的（bushi
        </p><p>
          <a href="https://github.com/hackclub"><strong>Hackclub</strong></a>
          <strong>Slack Member</strong>：偶尔冒个泡、水群
        </p>
      </div>
      <br />
      <Comment />
    </article>
  </section>
</Layout>
